@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

body {
    scrollbar-width: thin;
    background-color: #d1bfa7;
}

.section-80 {
    /* perspective: 800px;
    perspective-origin: top right; */
    transform: rotateX(40deg) rotateY(350deg);
    transition: all ease-in 300ms;
}

/* .noy {
    scrollbar-width: none;
    height: 80vh;
} */

/* .section-80:hover {
    
    transform: rotateX(40deg) rotateY(270deg);
} */

/* .space-span {
    
} */

.space-span {
    color: transparent;
    -webkit-text-stroke: 2.5px #6a139f;
}

.work {
    scrollbar-width: none;
}

/* .workMain {
    animation: bounce;
    animation-duration: 2s;
}   */

.anim-img {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: animate 2s infinite ease alternate;
}

@keyframes animate {
    to {
      transform: translateY(20px);
    }
  }